/* Base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica" all;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.75em;
}


/* Simple Reponsive Framework */

.row {
  width: 100%;
  padding: 0 15px;
}

/* Large Devices Only*/
@media (min-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
.col-lg-6,.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
.col-lg-11, .col-lg-12 
  {
    float: left;
  }
  .col-lg-4{
    width: 33.33%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-12{
    width: 100%;
  }

}

/* Medium devices only*/

@media (min-width: 768px) and (max-width: 991px)
{
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
  .col-md-11, .col-md-12
  {
    float: left;
  }
  .col-md-4{
    width: 33.33%;
  }
  .col-md-6{
    width: 50%
  }
  .col-md-12{
    width: 100%
  }
}
/* specific style */

.container {
  position: relative;
  background: #999999;
  border: 1px solid;
  margin: 20px;
  height: auto;
}

.container p {
  height: auto;
  clear: right;
  padding: 10px;
  font-size: 1em;
}

.dish-title {
  float: right;
  position: relative;
  top: -1px;
  left: 1px;
  padding: 5px 50px;
  border: 1px solid;
  font-size: 1.25em;
}

#Chicken {
  background-color: #D59898;
}

#Beef {
  background-color: #C14642;
}

#Sushi {
  background-color: #E5D198;
}